// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "~@sass-collective/strip-unit";
@use "./variables";

@function rem($values) {
    $result: ();

    @each $value in $values {
        @if strip-unit.strip-unit($value) == 0 {
            $result: list.append($result, strip-unit.strip-unit($value));
        } @else {
            $result: list.append($result, (strip-unit.strip-unit($value) / strip-unit.strip-unit(variables.$baseline)) * 1rem);
        }
    }

    @return $result;
}
